.reset {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 205, 166);
  border-style: dotted;
  height: auto;
}

header {
  background-color: bisque;
  margin: 2%;
}
header #logo {
  display: flex;
}
header nav {
  display: flex;
  justify-content: space-around;
}
header .pagina {
  display: flex;
  color: rgb(214, 142, 83);
  font-weight: bolder;
  text-decoration: none;
  padding: 3%;
}
header .pagina:hover {
  background-color: chocolate;
  border: 1% solid brown;
  color: brown;
  box-shadow: 0 0 20% brown;
}

article {
  padding: 3%;
}
article p {
  font-family: Georgia;
  font-size: 100%;
  font-weight: bolder;
  text-align: left;
  display: inline-flex;
  color: darkred;
}
article ul li {
  color: brown;
  text-align: left;
  list-style: disc;
  padding-right: 15%;
}
article label {
  display: block;
  color: brown;
}
article .rectangulo {
  background-color: bisque;
  border: 1% solid brown;
}
article .bottom {
  background-color: bisque;
  color: brown;
  border-radius: 3% solid bisque;
}
article .bottom:hover {
  background-color: chocolate;
  border: 1% solid brown;
  color: brown;
  box-shadow: 0 0 20% brown;
}

footer {
  color: brown;
  background-color: bisque;
  display: flex;
  font-family: Georgia;
  font-weight: normal;
  margin: 2%;
}

.anuncio {
  display: inline-block;
  margin-left: 5%;
  font-family: Georgia;
}

table {
  border-style: double;
  border: 3px solid;
  margin-left: 10%;
  margin-right: 20%;
  text-align: center;
  padding-right: 5%;
  color: brown;
}
table tr {
  padding: 5%;
}
table th {
  border: 3px solid burlywood;
}

.fotoFamiliar {
  width: 18rem;
  height: 20rem;
  padding: 5%;
  padding-left: 5%;
  margin-left: 5%;
}

@font-face {
  font-family: mooli;
  src: url("../assets/fonts/Mooli-Regular.ttf");
}
h1 {
  color: brown;
  font-style: italic;
  text-decoration: underline;
  display: inline;
  font-size: 150%;
  justify-content: center;
  margin-right: 5%;
  padding-left: 20%;
}

#tituloPrincipal {
  color: brown;
  font-style: italic;
  text-decoration: underline;
  display: inline;
  font-size: 120%;
  justify-content: center;
  padding-left: 15%;
  margin-right: 5%;
}

.secciones {
  color: brown;
  font-style: italic;
  text-decoration: underline;
  justify-content: center;
  padding-left: 20%;
}

.seccionesPrimarias {
  color: brown;
  font-style: italic;
  justify-content: center;
  padding-bottom: 5%;
  padding-left: 27%;
}

h2 {
  color: brown;
  font-family: Georgia;
  text-align: justify;
  margin: 5%;
  font-size: 100%;
  position: relative;
}

h3 {
  color: brown;
  font-family: Georgia;
  text-align: justify;
  font-size: medium;
  text-decoration: underline;
}

.card-title {
  color: brown;
  font-family: Georgia;
}

.items {
  color: brown;
  font-family: Georgia;
}

#container {
  display: grid;
  grid-template-columns: 50%, 50%;
  grid-template-rows: repeat(auto);
}

@media (min-width: 320%) {
  #container {
    grid-template-columns: 100%;
    grid-template-rows: 50%, 50%;
  }
}
@media (min-width: 768%) {
  #container-fluid {
    grid-template-columns: 50%, 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
