.reset{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(237, 205, 166);
    border-style: dotted;
    height: auto;
}
header{
    background-color: bisque;
    margin: 2%;
    #logo{
        display: flex;
    }
    nav{
        display: flex;
    }
    .pagina{
        display: flex;
        justify-content: baseline;
        color: rgb(214, 142, 83);
        font-weight: bolder;
        text-decoration: none;
        padding: 5%;
    }
    .pagina:hover{
        background-color: chocolate;
        border: 1% solid brown;
        color: brown;
        box-shadow:0 0 20% brown;
    }
}
article{
    padding: 3%;
    p{
        font-family: Georgia;
        font-size: 100%;
        font-weight: bolder;
        text-align: left;
        display: inline-flex;
    }
    ul{
        li{
        color: black;
        text-align: left;
        list-style: disc;
        padding-right: 15%;
       }
    }
    label{
        display: block;
    }
}
.cartas{
    display: grid;
    justify-content: center;
    grid-template-areas: 3%;
    margin-left: 10%;
}
footer{
    color: black;
    background-color: bisque;
    display: flex;
    font-family: Georgia;
    font-weight: normal;
    margin: 2%;
}
.anuncio{
    display: inline-block;
    margin-left: 5%;
    font-family: Georgia;
}
table{
    border-style: double;
    border: 3px solid ;
    margin-left: 10%;
    margin-right: 20%;
    text-align: center;
    padding-right: 5%;
    tr{
        padding: 5%;
    }
    th{
        border: 3px solid brown;
    }
}
.fotoFamiliar{
    width: 80%;
    height: 50%;
    padding: 5%;
    padding-left: 5%;
    margin-left: 5%;
}