h1{
    color: brown;
    font-style: italic;
    text-decoration: underline;
    display: inline;
    font-size: 150%;
    text-align: justify;
    padding-left: 35%;
    #tituloProncipal{
        color: brown;
        font-style: italic;
        text-decoration: underline;
        display: inline;
        font-size: 125%;
        text-align: justify;
        padding-left: 20%; 

    }
}
.secciones{
    color: brown;
    font-style: italic;
    text-decoration: underline;

}
.seccionesPrimarias{
    color: brown;
    font-style: italic;
    text-align: justify;
}
h2{
    font-family: Georgia;
    text-align: justify;
    margin: 5%;
    font-size: 100%;
    position: relative;

}
h3{
    font-family: Georgia;
    text-align: justify;
    font-size: medium;
}